body {
    background-color: #f5df1c;
}

h2 {
    color: blue;
}

h3 {
    background-color: salmon;
    text-align: center;
}

#p1 { 
    border: 2px solid rgb(0, 6, 7);
    padding: 20px;
}

#p2 { 
    border: 2px solid rgb(248, 251, 252);
    padding: 20px;
}

#p3 {
    border: 2px solid navy;
    padding: 20px;
}

#p4 {
    border: 2px solid purple;
    padding: 20px;
}

img {
    border: 5px solid black;
  }

li:hover {
    background-color: green;
}

.menu {
    border: 2px solid rgb(0, 6, 7);
    padding: 20px;
}

div.container {
    border: 2px solid rgb(0, 6, 7);
    padding: 20px;
}